<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title }) %>
  </head>
  <body>
    <%- include('partials/navbar', { url }) %>
    <h1><%= title %></h1>
    <form action="<%= url %>" method="post">
      <p>
        <label for="name"><strong>Name:</strong></label>
        <input
          type="text"
          name="name"
          id="name"
          autocomplete="on"
          value="<%= locals.data?.name || '' %>"
          autofocus
        />
        <br />
        <% if (Array.isArray(locals.errors) && errors.length > 0) { %>
        <span class="error"><%= errors[0].msg %></span>
        <% } %>
      </p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
