<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title: book.book }) %>
  </head>
  <body>
    <%-include('partials/navbar',{url:url.split('/').slice(0, -1).join('/')})%>
    <h1><%= book.book %></h1>
    <p>
      <span><strong>ISBN</strong>:</span>
      <span><%= book.isbn %></span>
    </p>
    <p>
      <span><strong>Language</strong>:</span>
      <span><%= book.language || '?' %></span>
    </p>
    <p>
      <span><strong>Author/s</strong>:</span>
      <span><%= book.authors || '?' %></span>
    </p>
    <p>
      <span><strong>Genre/s</strong>:</span>
      <span><%= book.genres || '?' %></span>
    </p>
    <p>
      <span><strong>Pages</strong>:</span>
      <span><%= book.pages %></span>
    </p>
    <p>
      <span><strong>Price</strong>:</span>
      <span><%= book.price %>$</span>
    </p>
    <p>
      <span><strong>Stock</strong>:</span>
      <span><%= book.stock_count %></span>
    </p>
    <p>
      <span><strong>Last modified</strong>:</span>
      <span>
        <%=new Date(book.updated_at).toLocaleString("en-GB",{hour12:true})%>
      </span>
    </p>
    <p>
      <a href="/books/<%= book.book_id %>/edit">Edit</a>
      |
      <a href="/books/<%= book.book_id %>/delete">Delete</a>
    </p>
  </body>
</html>
