<% const findErrMsg = (path) => (locals.errors?.find((e) => e.path ===
path)?.msg) || '' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title }) %>
    <script>
      function addCheckboxOption(
        trigger,
        optionsId,
        checkboxesListId,
        name,
        idPrefix
      ) {
        const option = document.getElementById(optionsId);
        const checkboxes = document.getElementById(checkboxesListId);
        if (option && checkboxes) {
          const id = `${idPrefix}${option.value}`;
          if (!checkboxes.querySelector(`#${id}`)) {
            const li = document.createElement('li');
            const label = document.createElement('label');
            const checkbox = document.createElement('input');
            label.textContent = option.selectedOptions[0].textContent;
            label.htmlFor = id;
            checkbox.id = id;
            checkbox.name = name;
            checkbox.checked = true;
            checkbox.type = 'checkbox';
            checkbox.value = option.value;
            checkboxes.appendChild(li).append(label, checkbox);
          }
        }
        trigger.scrollIntoView();
      }
    </script>
  </head>
  <body>
    <%- include('partials/navbar', { url }) %>
    <h1><%= title %></h1>
    <form action="<%= url %>" method="post">
      <p>
        <span class="error">*</span>
        All fields are required and a book must have at least one author and one
        genre!
      </p>
      <p>
        <label for="title"><strong>Title:</strong></label>
        <input
          name="book"
          id="title"
          value="<%= locals.book?.book || '' %>"
          autofocus
        />
        <br />
        <span class="error"><%= findErrMsg("book") %></span>
      </p>
      <p>
        <label for="isbn"><strong>ISBN:</strong></label>
        <input name="isbn" id="isbn" value="<%= locals.book?.isbn || '' %>" />
        <br />
        <span class="error"><%= findErrMsg("isbn") %></span>
      </p>
      <p>
        <label for="stock"><strong>Stock:</strong></label>
        <input
          name="stock_count"
          id="stock"
          value="<%= locals.book?.stock_count || '' %>"
        />
        <br />
        <span class="error"><%= findErrMsg("stock_count") %></span>
      </p>
      <p>
        <label for="pages"><strong>Pages:</strong></label>
        <input
          name="pages"
          id="pages"
          value="<%= locals.book?.pages || '' %>"
        />
        <br />
        <span class="error"><%= findErrMsg("pages") %></span>
      </p>
      <p>
        <label for="price"><strong>Price ($):</strong></label>
        <input
          name="price"
          id="price"
          value="<%= locals.book?.price || '' %>"
        />
        <br />
        <span class="error"><%= findErrMsg("price") %></span>
      </p>
      <p>
        <label for="language"><strong>Language:</strong></label>
        <select name="language_id" id="language">
          <% languages.forEach(({language_id, language}) => { %>
          <%if(locals.book?.language_id === language_id){%>
          <option selected value="<%= language_id %>"><%= language %></option>
          <%}else{%>
          <option value="<%= language_id %>"><%= language %></option>
          <%}%> <%})%>
        </select>
        &nbsp;
        <a href="/languages/new">Can't find a language?</a>
        <br />
        <span class="error"><%= findErrMsg("language") %></span>
      </p>
      <p id="book-authors-title">
        <strong class="label">Author/s:</strong>
      </p>
      <div class="error"><%= findErrMsg("authors") %></div>
      <ul id="book-authors" aria-labelledby="book-authors-title">
        <% if (locals.book?.authors) { %>
        <%Object.entries(book.authors).forEach(([id,author])=>{%>
        <li>
          <label for="author-<%= id %>"><%= author %></label>
          <input
            type="checkbox"
            name="authors"
            id="author-<%= id %>"
            value="<%= id %>"
            checked
          />
        </li>
        <% }) %> <% }%>
      </ul>
      <p id="book-genres-title">
        <strong class="label">Genre/s:</strong>
      </p>
      <div class="error"><%= findErrMsg("genres") %></div>
      <ul id="book-genres" aria-labelledby="book-genres-title">
        <% if (locals.book?.genres) { %>
        <%Object.entries(book.genres).forEach(([id, genre])=>{%>
        <li>
          <label for="genre-<%= id %>"><%= genre %></label>
          <input
            type="checkbox"
            name="genres"
            id="genre-<%= id %>"
            value="<%= id %>"
            checked
          />
        </li>
        <% }) %> <% } %>
      </ul>
      <button type="submit">Submit</button>
    </form>

    <br />
    <hr />
    <br />

    <p>
      <label for="author-options">
        <strong>Choose Author</strong>
      </label>
      &nbsp;
      <select name="author_options" id="author-options">
        <% authors.forEach(({ author_id, author }) => { %>
        <option value="<%= author_id %>"><%= author %></option>
        <% }) %>
      </select>
      &nbsp;
      <button
        type="button"
        onclick="addCheckboxOption(this, 'author-options', 'book-authors', 'authors', 'author-')"
      >
        Add
      </button>
      &nbsp;
      <a href="/authors/new">Can't find an author?</a>
    </p>

    <p>
      <label for="genre-options">
        <strong>Choose Genre</strong>
        &nbsp;
      </label>
      &nbsp;
      <select name="genre_options" id="genre-options">
        <% genres.forEach(({ genre_id, genre }) => { %>
        <option value="<%= genre_id %>"><%= genre %></option>
        <% }) %>
      </select>
      &nbsp;
      <button
        type="button"
        onclick="addCheckboxOption(this, 'genre-options', 'book-genres', 'genres', 'genre-')"
      >
        Add
      </button>
      &nbsp;
      <a href="/genres/new">Can't find a genre?</a>
    </p>
  </body>
</html>
