<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title }) %>
    <script>
      function addCheckboxOption(
        trigger,
        optionsId,
        checkboxesListId,
        name,
        idPrefix
      ) {
        const option = document.getElementById(optionsId);
        const checkboxes = document.getElementById(checkboxesListId);
        if (option && checkboxes) {
          const id = `${idPrefix}${option.value}`;
          if (!checkboxes.querySelector(`#${id}`)) {
            const li = document.createElement('li');
            const label = document.createElement('label');
            const checkbox = document.createElement('input');
            label.textContent = option.selectedOptions[0].textContent;
            label.htmlFor = id;
            checkbox.id = id;
            checkbox.name = name;
            checkbox.checked = true;
            checkbox.type = 'checkbox';
            checkbox.value = option.value;
            checkboxes.appendChild(li).append(label, checkbox);
          } else {
            const error = document.createElement('div');
            error.className = 'error';
            error.textContent = 'This choice has already been made!';
            trigger.insertAdjacentElement('afterend', error);
            setTimeout(() => error.remove(), 2000);
          }
        }
      }
    </script>
  </head>
  <body>
    <a href="/">Home</a>
    <h1><%= title %></h1>
    <% if (locals.error) { %>
    <p class="error"><%= error %></p>
    <% } else { %>
    <form action="/books/<%= book['book_id'] %>/edit" method="post">
      <p>
        <label for="title"> <strong>Title</strong> </label>:
        <input name="book" id="title" value="<%= locals.book?.book || '' %>" />
      </p>
      <p>
        <label for="isbn"> <strong>ISBN</strong> </label>:
        <input name="isbn" id="isbn" value="<%= locals.book?.isbn || '' %>" />
      </p>
      <p>
        <label for="language"> <strong>Language</strong> </label>:
        <input
          name="language"
          id="language"
          value="<%= locals.book?.language || '' %>"
        />
      </p>
      <p>
        <label for="pages"> <strong>Pages</strong> </label>:
        <input
          name="pages"
          id="pages"
          value="<%= locals.book?.pages || '' %>"
        />
      </p>
      <p>
        <label for="price"> <strong>Price</strong> </label>:
        <input
          name="price"
          id="price"
          value="<%= locals.book?.price || '' %>$"
        />
      </p>
      <p>
        <label for="stock"> <strong>Stock</strong> </label>:
        <input
          name="stock_count"
          id="stock"
          value="<%= locals.book?.stock_count || '' %>"
        />
      </p>
      <p id="book-authors-title">
        <strong>Author/s:</strong>
      </p>
      <ul id="book-authors" aria-labelledby="book-authors-title">
        <% Object.entries(locals.book?.authors || {}).forEach(([id, author]) =>
        { %>
        <li>
          <label for="author-<%= id %>"><%= author %></label>
          <input
            type="checkbox"
            name="authors"
            id="author-<%= id %>"
            value="<%= id %>"
            checked
          />
        </li>
        <% }) %>
      </ul>
      <p>
        <label for="author-options">
          <strong>Choose Author</strong>
        </label>
        <select name="author-options" id="author-options">
          <% authors.forEach(({ author_id, author }) => { %>
          <option value="<%= author_id %>"><%= author %></option>
          <% }) %>
        </select>
        <button
          type="button"
          onclick="addCheckboxOption(this, 'author-options', 'book-authors', 'authors', 'author-')"
        >
          Add
        </button>
        <br />
        <a href="/authors/new">Can't find an author?</a>
      </p>
      <p id="book-genres-title">
        <strong>Genre/s:</strong>
      </p>
      <ul id="book-genres" aria-labelledby="book-genres-title">
        <% Object.entries(locals.book?.genres || {}).forEach(([id, genre]) => {
        %>
        <li>
          <label for="genre-<%= id %>"><%= genre %></label>
          <input
            type="checkbox"
            name="genres"
            id="genre-<%= id %>"
            value="<%= id %>"
            checked
          />
        </li>
        <% }) %>
      </ul>
      <p>
        <label for="genre-options">
          <strong>Choose Genre</strong>
        </label>
        <select name="genre-options" id="genre-options">
          <% genres.forEach(({ genre_id, genre }) => { %>
          <option value="<%= genre_id %>"><%= genre %></option>
          <% }) %>
        </select>
        <button
          type="button"
          onclick="addCheckboxOption(this, 'genre-options', 'book-genres', 'genres', 'genre-')"
        >
          Add
        </button>
        <br />
        <a href="/genres/new">Can't find a genre?</a>
      </p>
      <button type="submit">Submit</button>
    </form>
    <% } %>
  </body>
</html>
