<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title }) %>
  </head>
  <body>
    <%-locals.url?.split('/').length > 2 ? include('partials/navbar',{url}):''%>
    <h1><%= title %></h1>
    <form id="search-filter-form" action="<%= url %>/search">
      <p>
        <input
          type="text"
          name="q"
          placeholder="Search by title or ISBN"
          value="<%= locals.q || '' %>"
        />
        <button type="submit" class="btn-sm">Search</button>
      </p>
      <p>
        <strong>Order by:</strong>
        <input type="radio" name="orderby" id="ob-title" value="book" <%-
        locals.orderby === 'book' ? 'checked' : '' %> />
        <label for="ob-title">Title&nbsp;</label>
        <input type="radio" name="orderby" id="ob-addition" value="created_at"
        <%-!locals.orderby || locals.orderby === 'created_at'?'checked':''%> />
        <label for="ob-addition">Addition&nbsp;</label>
        <input type="radio" name="orderby" id="ob-modification"
        value="updated_at" <%- locals.orderby === 'updated_at' ? 'checked' : ''
        %> />
        <label for="ob-modification">Modification&nbsp;</label>
        &nbsp; <input type="checkbox" name="desc_order" id="desc-order" <%-
        locals.desc_order ? 'checked' : '' %> />
        <label for="desc-order">Descending&nbsp;</label>
        &nbsp;
        <button type="submit" class="btn-sm">Reorder</button>
      </p>
    </form>
    <p>
      <a href="/authors">Visit authors</a>, <a href="/genres">genres</a>,
      <a href="/languages">languages</a>, or
      <a href="/books/new">add new book</a>.
    </p>
    <% if (Array.isArray(locals.books) && books.length > 0) { %>
    <p>
      <strong>Note</strong>: This site is <em>just for practicing</em> what I
      have learned in back-end web development with
      <em> Node.js, Express.js, and PostgreSQL </em>. Hence,
      <strong> the database repopulates itself </strong> with one or more books
      to avoid a reviewer faced with an empty web app.
    </p>
    <table width="100%" border="1">
      <thead>
        <th>ISBN</th>
        <th>Title</th>
        <th>Language</th>
        <th>Author/s</th>
        <th>Genre/s</th>
        <th>Pages</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Last modified</th>
        <th>Control</th>
      </thead>
      <tbody>
        <% books.forEach((book) => { %>
        <tr>
          <td><%= book.isbn %></td>
          <td>
            <a href="/books/<%= book.book_id %>"><%= book.book %></a>
          </td>
          <td><%= book.language %></td>
          <td><%= book.authors %></td>
          <td><%= book.genres %></td>
          <td><%= book.pages %></td>
          <td><%= book.price %>$</td>
          <td><%= book.stock_count %></td>
          <td>
            <%=new Date(book.updated_at).toLocaleString("en-GB",{hour12:true})%>
          </td>
          <td>
            <a href="/books/<%= book.book_id %>/edit">Edit</a>
            |
            <a href="/books/<%= book.book_id %>/delete">Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <p>There are no books.</p>
    <% } %>
  </body>
</html>
