<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', {title}) %>
  </head>
  <body>
    <%- include('partials/navbar', { url }) %>
    <h1><%= title %></h1>
    <% const dataName = url.split('/')[1], entityName = dataName.slice(0, -1);
    %>
    <p>
      <a href="<%= url %>/new">Add new <%= entityName %></a>
    </p>
    <% if (Array.isArray(locals.data) && data.length > 0) { %>
    <ul>
      <% data.forEach((entry) => { %>
      <li>
        <% const id = entry[`${entityName}_id`], name = entry[entityName]; %>
        <strong><%= name %></strong> --
        <a href="<%= url %>/<%= id %>/edit">edit</a>,
        <a href="<%= url %>/<%= id %>/delete">delete</a>, or
        <a href="<%= url %>/<%= id %>/books">see all its books</a>.
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>There are no <%= dataName %> yet.</p>
    <% } %>
  </body>
</html>
